StockScanner.UI/Service References/StockScannerService/StockScannerService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/StockService/StockScannerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockService.Core" />
  <xs:element name="GetMarketsData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="GetMarketsDataResult" nillable="true" type="q1:ArrayOfMarket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="company" nillable="true" type="q2:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="company" nillable="true" type="q3:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculatedCompanyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="company" nillable="true" type="q4:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculatedCompanyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="GetCalculatedCompanyDataResult" nillable="true" type="q5:CalculatedData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="market" nillable="true" type="q6:Market" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="industry" nillable="true" type="q7:Industry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDividends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="sector" nillable="true" type="q8:Sector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDividendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDividendsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushStockData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="result" nillable="true" type="q9:StockQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushStockDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushCompanyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="result" nillable="true" type="q10:CompanyStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushCompanyDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushSectors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="sectors" nillable="true" type="q11:ArrayOfSector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushSectorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/StockService.Core" minOccurs="0" name="data" nillable="true" type="q12:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushCompaniesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>